<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Timers and alarms go through the clock app's AlarmClock intents. -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <!-- Linking the Pebble lets the service open the clock app and other apps
         from the background on Android 10 and newer. -->
    <uses-feature android:name="android.software.companion_device_setup" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />

    <!-- Android 11 and newer hide other apps unless these are declared. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SET_TIMER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SET_ALARM" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- PebbleKit requires this bound service to be discoverable by the selected Pebble app. -->
        <service
            android:name=".VoiceCommandService"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="io.rebble.pebblekit2.RECEIVE_DATA_FROM_WATCH" />
            </intent-filter>
        </service>
    </application>

</manifest>
